{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Venta</title>
    <link rel="stylesheet" href="{% static 'css/admin_contabilidad.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/Munay_logo.png' %}">
</head>
<body>

<div class="header-container">
    <h1>Detalles de Venta</h1>
</div>

<div class="container">
    <p>Esta es la página de detalles de venta. Aquí podrías mostrar información sobre la venta.</p>
</div>

</body>
</html>
