@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
    font-family: Lato, "sans-serif", Roboto, RobotoFallback, Helvetica, Arial, sans-serif;;
    margin: 0;
    padding: 0;
    width: auto;
}

/* Estilos para el icono de volver */
.header-container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #b88674; /* Color de fondo */
    padding: 1%; /* Añade un espacio alrededor del texto */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); /* Sombra de texto */
    width: auto;
}

h1 {
    flex: 1;
    text-align: center;
    color: #ffffff;
    font-size: clamp(20px, 5vw, 48px);
    margin: 0;
}

.volver-icon {
    display: flex;
    width: clamp(31px, 5vw, 50px);
    height: auto;
    cursor: pointer;
    justify-content: end;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

/* Estilo para mensajes de éxito */
.message-success {
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    border: 2px solid #317a3b; /* Cambia el color del borde de las celdas */
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    background-color: lightgreen; /* Cambia el color de fondo de la alerta de éxito */
}

/* Estilo para mensajes de error */
.message-error {
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    border: 2px solid #7a1414; /* Cambia el color del borde de las celdas */
    background-color: lightcoral; /* Cambia el color de fondo de la alerta de error */
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}

/* Estilo para texto negro */
.texto-negro {
    color: black;
}

.titulo-agregar-producto {
    text-align: center;
    color: #ffffff; /* Color del texto */
    margin-bottom: 20px; /* Margen inferior */
    margin-top: -30px;
}

.formulario {
    display: flow; /* No existe 'display: flow', puedes usar 'display: block' o 'display: flex' dependiendo de tus necesidades */
    width: clamp(200px, 43vmax, 600px); /* Ancho del formulario entre 200px y 600px, preferiblemente 43vmax */
    border: 7px solid #995d40; /* Cambia el grosor y el color del borde */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    background-color: #f3e7e5; /* Fondo blanco */
    padding: clamp(10px, 2%, 20px); /* Padding entre 10px y 20px, preferiblemente 2% del ancho del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el ancho incluya el relleno y el borde */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin-top: 1.5rem;
}

.group {
    margin-bottom: 1rem; /* Espacio entre grupos */
    display: flex; /* Utiliza flexbox para alinear elementos */
    align-items: center; /* Alinea verticalmente los elementos */
}

.label {
    width: 120px; /* Ancho fijo del label */
    font-weight: bold; /* Texto en negrita */
    margin-right: 10px; /* Espacio a la derecha del label */
}

.input {
    width: calc(100% - 120px); /* Toma el ancho restante después de tener en cuenta el ancho de la etiqueta */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-submit {
    border: 0;
    background-image: linear-gradient(
        150deg, #d79372, #db6b73, #D9B3A1
    );
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.form-submit span {
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.form-submit:hover span {
    color: #111;
    background-image: linear-gradient(
        150deg, #d79372, #db6b73, #D9B3A1
    );
}

.form-submit:active {
    transform: scale(0.9);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #8f0f0f;
    background-color: #c0916d88;
    font-size: clamp(10px, 1vw, 20px);
    padding: clamp(5px, 2%, 10px);
}

.styled-table th, .styled-table td {
    padding: clamp(0.3rem, 2%, 1rem); /* Padding entre 0.5rem y 2rem, pero preferiblemente 2% del ancho del contenedor */
    border: 1px solid #573f36; /* Cambia el color del borde de las celdas */
    text-align: center;
    font-size: clamp(10px, 1vw, 20px);
}

.styled-table th {
    background-color: #b88674; /* Cambia el color de fondo de las celdas de encabezado */
    font-size: clamp(9px, 1vw, 16px); /* Tamaño de fuente entre 12px y 16px, preferiblemente 1vw */
    text-align: center;
    color: #333;
}

.styled-table td{
    font-size: clamp(11px, 2vw, 20px);
    
}

.message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    display: flex; /* Utiliza flexbox para alinear los contenedores */
    flex-direction: column; /* Organiza los contenedores en columna */
}


.titulo-agregar-producto {
    margin-bottom: 40px; /* Aumenta el margen inferior para más espacio */
    color: black;
    margin-top: 0px;
}

.botones-container {
    display: flex;
    justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
}

.botones-fila {
    flex: 1; /* Ocupa todo el espacio disponible */
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra los elementos verticalmente */
    margin: 40px; /* Agrega un margen entre las columnas */
}

.boton-cafe {
    width: 5rem;
    height: 0;
    display: flex;
    padding: 5rem 5rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2vh;
    border: 5px ridge rgba(46, 24, 7, 0.26);
    border-radius: 20px;
    background-color: #c0916d;
    color: #fff;
    text-decoration: none;
    font-family: Lato, "sans-serif", Roboto, RobotoFallback, Helvetica, Arial, sans-serif;;
    justify-content: center;
    align-items: center
}

.boton-cafe:hover {
    background-color: #995d40; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}
    /* Estilo para el botón de eliminar */
.btn-eliminar {
    background-color: red; /* Color de fondo rojo */
    color: white; /* Color del texto */
    border: 1px solid #c0392b; /* Borde rojo */
    border-radius: 5px; /* Bordes redondeados */
    padding: clamp(5px, 2%, 10px) clamp(1px, 4%, 20px); /* Padding entre 5px y 10px verticalmente, preferiblemente 2% del ancho del contenedor, y entre 10px y 20px horizontalmente, preferiblemente 4% del ancho del contenedor */
    margin: clamp(5px, 2%, 10px); /* Margen entre 5px y 10px, preferiblemente 2% del ancho del contenedor */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transición suave de estilos */   
    text-align: center; 
}       

    /* Cambia el color del botón al pasar el ratón sobre él */
.btn-eliminar:hover {
        background-color: #c0392b; /* Color de fondo rojo más oscuro */
        border-color: #a93226; /* Borde rojo más oscuro */
}

.btn-MostrarOcultar{
    background-color: rgb(161, 125, 90); /* Color de fondo rojo */
    color: white; /* Color del texto */
    border: 1px solid #c03a2b13; /* Borde rojo */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Añade un espacio alrededor del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transición suave de estilos */    
}

.btn-MostrarOcultar:hover {
    background-color: rgb(90, 68, 46); /* Color de fondo rojo más oscuro */
    border-color: #944a0e; /* Borde rojo más oscuro */
}

.group h3 {
    width: 5%; /* Ancho fijo del label */
    font-weight: bold; /* Texto en negrita */
    font-size: 1rem;
    margin-right: 0; /* Espacio a la derecha del label */
}

.producto {
    display: flex; /* Utiliza flexbox para alinear elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: clamp(10px, 2%, 20px); /* Padding entre 10px y 20px, preferiblemente 2% del ancho del contenedor */
}

.producto label {
    flex: 1; /* Ocupa todo el espacio restante */
}

.producto input {
    width: 2rem; /* Ancho fijo para el campo de cantidad */
    margin-left: 0%;
}

.cantidad-input {
    display: flex;
    align-items: center;
}

.cantidad-input h3 {
    margin-right: 1px; /* Ajusta el margen entre el título y el input */
}

.cantidad-input input {
    flex: 1; /* El input ocupa todo el espacio restante */
    margin-left: 10px; /* Ajusta el margen entre el título y el input */
}
.producto h4 {
    margin-top: clamp(10px, 2%, 20px); /* Ajusta el margen superior del título */
    margin-bottom: clamp(10px, 2%, 20px); /* Ajusta el margen inferior del título */
    margin-left: 1rem; /* Margen izquierdo fijo de 1rem */
}

ul.productos-lista {
    padding-left: 0 !important; /* Elimina el padding izquierdo */
}

/* Estilo para el contenedor del gráfico */
.graph-container {
    margin-top: 20px; /* Añade espacio entre el formulario y el gráfico */
    background-color: #f3e7e5; /* Color de fondo del contenedor del gráfico */
    padding: 0; /* Añade espacio alrededor del gráfico */
    border-radius: 10px; /* Bordes redondeados del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo para el título del gráfico */
.graph-title {
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio entre el título y el gráfico */
    color: #111; /* Color del texto */
}

/* Estilo para el gráfico */
.grafico {
    width: 50%; /* Ancho del gráfico */
    height: 50%; /* Altura del gráfico */
    background-color: rgb(87, 11, 11); /* Color de fondo del gráfico */
    border-radius: 10px; /* Bordes redondeados del gráfico */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* aqui empieza la vista de estadísticas */

.grafico-container {
    width: 0%; /* Ancho del contenedor del gráfico */
    margin: 0%; /* Centra el contenedor horizontalmente */
    padding-top: 20px; /* Añade un espacio superior */
    text-align: center; /* Centra el contenido del contenedor */
}

.svg-container {
    width: clamp(300px, 50%, 800px); /* Ancho mínimo de 300px, máximo del 50% del ancho de la ventana y máximo de 800px */
    height: clamp(200px, 30%, 600px); /* Alto mínimo de 200px, máximo del 30% del alto de la ventana y máximo de 600px */
    position: relative; /* Asegura que la posición sea relativa para que el posicionamiento absoluto dentro funcione correctamente */
}

.filtro-container{
    padding-left: 2%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.filtro-form {
    display: flex;
    align-items: center;
}

.filtro-label {
    margin-right: 10px;
    font-weight: bold;
}

.filtro-select {
    padding: 5px;
    border: 3px solid #c0916d;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
}

.fecha-container {
    margin-bottom: 10px;
    font-weight: bold;
}

.fecha-label {
    color: #333;
    margin-left: 2%;
}

.fecha-value {
    color: #555;
    margin-left: 10px;
}

#total {
    font-weight: bold;
}

#total.ganancia {
    color: green;
}

#total.perdida {
    color: red;
}

#total.equilibrio {
    color: black;
}
#grafico button {
    margin-right: 20px;
}

.container-graph {
    background-color: #8B4513; /* Café oscuro */
    padding: 20px; /* Espacio alrededor del contenido */
    border-radius: 100px; /* Bordes redondeados */
    margin-top: 20px; /* Margen superior */
    text-align: center;
    margin-left: clamp(0.5rem, 15vw, 13rem);
    margin-right: clamp(0.5rem, 15vw, 13rem);
}

.container-graph div {
    color: white; /* Color de texto blanco */
    font-size: clamp(14px, 3vw, 20px); /* Tamaño de fuente con un mínimo de 14px, máximo de 20px y escalado responsivo */
    padding: 1%;
}

/* Estilos para el campo de texto de búsqueda */
.filtro-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

/* Estilos para el botón de búsqueda */
.filtro-form button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #c0916d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para el botón de vaciar */
.filtro-form .btn-vaciar {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

/* Estilos al pasar el ratón sobre el botón de vaciar */
.filtro-form .btn-vaciar:hover {
    background-color: #c82333;
}

.button-editar {
    background-color: green;
    color: white;
    border: 1px solid #1b7743;
    border-radius: 5px;
    
    margin: clamp(5px, 2%, 10px);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    text-align: center;
}


/* Cambia el color del botón al pasar el ratón sobre él */
.button-editar:hover {
    background-color: #065320; /* Color de fondo rojo más oscuro */
    border-color: #04350f; /* Borde rojo más oscuro */
}

/* Estilos para colocar los botones en línea horizontal */
.styled-table td.acciones-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    border: 1px solid #573f36;
}
/* Estilo para los botones en la tabla */
.styled-table td.acciones-container button {
    padding: clamp(15px, 1%, 22px);
    font-size: clamp(18px, 5%, 50px);
}

.form-submit span {
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.form-submit:hover span {
    color: #111;
    background-image: linear-gradient(
        150deg, #d79372, #db6b73, #D9B3A1
    );
}

.form-submit:active {
    transform: scale(0.9);
}

.form-submit-editar {
    border: 0;
    background-image: linear-gradient(
        150deg, #E0C758, #C7E058, #E0D758
    );
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.form-submit-editar span {
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.form-submit-editar:hover span {
    color: #111;
    background-image: linear-gradient(
        150deg, #debe2f, #C7E058, #e0d437
    );
}

.form-submit-editar:active {
    transform: scale(0.9);
}


/* Estilos para la tabla en dispositivos moviles */
@media only screen and (min-width: 768px) {
    .hide-on-large-screen {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .hide-on-small-screen {
        display: none;
    }
    .btn-MostrarOcultar {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-size: clamp(9px, 2vw, 18px);
    }
    .details-hidden {
        display: none;
    }
    /* Estilo para los botones en la tabla */
.styled-table td.acciones-container button {
    padding: clamp(3px, 1%, 20px);
    font-size: clamp(12px, 5%, 50px);
}
}