{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="contenedor-detalle-producto">
        <header>
            <div class="nombre-detalle-producto">{{ producto.nombre }}</div>
        </header>

        <div class="imagen-detalle-producto">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
        </div>
        <div class="descripcion-detalle-producto">{{ producto.descripcion }}</div>

        <form method="post" action="{% url 'agregar_al_carrito' %}" class="agregar-carrito-form">
            {% csrf_token %}
            <div>
                <!-- Mostrar el precio de 1 unidad -->
                <label for="opcion1">7 Personas: </label>
                <span id="precio_unidad_1">
                    <script>
                        var precio_torta_7p = parseFloat("{{ producto.precio }}");
                        var precio_formateado_torta7p = "$" + precio_torta_7p.toLocaleString();
                        document.write(precio_formateado_torta7p);
                    </script>
                </span>
                <!-- Fin del precio de 1 unidad -->
                <input type="radio" id="opcion1" name="opcion" value="{{ producto.precio }}" checked>
            </div>
            <div>
                <label for="opcion2">15 Personas:</label>
                <script>
                    var precio_torta_15p = parseFloat("{{ producto.precio_15p }}");
                    var precio_formateado_torta15p = "$" + precio_torta_15p.toLocaleString();
                    document.write(precio_formateado_torta15p);
                </script>
                <input type="radio" id="opcion2" name="opcion" value="{{ producto.precio_15p }}">
            </div>
            <div>
                <label for="opcion2">24 Personas:</label>
                <script>
                    var precio_torta_24p = parseFloat("{{ producto.precio_24p }}");
                    var precio_formateado_torta24p = "$" + precio_torta_24p.toLocaleString();
                    document.write(precio_formateado_torta24p);
                </script>
                <input type="radio" id="opcion2" name="opcion" value="{{ producto.precio_24p }}">
            </div>


            {% comment %} botones que manejan agregar al carrito y cuanto de dicho producto {% endcomment %}
            <div class="contenedor-botones-carrito">
                {% csrf_token %}
                <input type="hidden" name="producto_id" value="{{ producto.id }}">
                <input type="hidden" name="tipo" value="Torta">
                <div class="boton-izq">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" id="cantidad" value="1" min="1">
                </div>
                <div class="boton-der">
                    {% if sin_stock %}
                        {% comment %} darle estilos o cambiar class para hacer diferente el boton {% endcomment %}
                        <button type="button" class="boton-agregar-carrito" disabled>Sin Stock</button>
                    {% else %}
                        <button type="submit" class="boton-agregar-carrito">Agregar al Carrito</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div><br>
{% endblock %}
