{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrusel.css' %}">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
</head>

<body>
       <!-- Mostrar los slides existentes -->
       <div id="owl-carousel-container">
        <div class="row">
            <div class="large-12 columns">
                <div class="owl-carousel owl-theme">
                    {% for slide in slides %}
                        <div class="item">
                            <img src="{{ slide.imagen.url }}" alt="{{ slide.title }}">
                            <div class="text">
                                <h2>{{ slide.title }}</h2>
                                <p>{{ slide.content }}</p>
                                {% if 'wa.me' in slide.urls %}
                                <a href="{{ slide.urls }}?text=¡Hola! Quiero pedir un box exclusivo para {{ slide.oferta}}"  class="btn-below-text">{{ slide.boton_texto }}</a>
                            {% else %}
                                <a href="{{ slide.urls }}" class="btn-below-text">{{ slide.boton_texto }}</a>
                            {% endif %}
                            </div> 
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div> <!-- Contenedor para el espacio -->
    <div class="image-container">
        <img src= "{% static 'img/collage.jpg' %}" alt="Imagen a pantalla completa" class="full-width-image">
        <div class="text-inside-image">
            <p>¡Bienvenidos a tu rincón saludable!</p><p>Dulces que alimentan el cuerpo y nutren el alma</p>
        </div>        
        <a href="{% url 'productos' %}" class="btn-ver-productos">Ver Productos</a>
    </div>
<!-- Script para inicializar el carrusel de Owl Carousel -->
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        margin: 10,
        loop: true,
        responsive: {
            0: {
                items: 1
            },
            200: {
                items: 1
            }
        },
        autoplay: true,
        autoplayTimeout: 5000,
        autoplayHoverPause: true,
        onChanged: function(event) {
            var currentSlide = event.item.index + 1; // Obtiene el número de la diapositiva actual
            var currentText = $('.owl-carousel .item:nth-child(' + currentSlide + ') .text').html(); // Obtiene el texto de la diapositiva actual
            $('.text-container').html(currentText); // Actualiza el texto en el contenedor
        }
    });
</script>
</body>

</html>
{% endblock %}
