{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <h1 class="titulo-quienes-somos">"HISTORIA DETRÁS DE MUNAY DULCE NUTRICIÓN"</h1>
    <h2 class="titulo-subparrafo">Un Viaje de Transformación y Bienestar desde 2021</h2>
    <div class="contenido">
        <img class="quienes-somos-img" src="{% static 'img/Maitte_pendon.jpg' %}" alt="Maite con pendon">
        <div>
            <p class="texto">Munay dulce nutrición nace en septiembre del año 2021,
                un proyecto de transformación inspirado en una historia familiar, destinado a marcar y mejorar la calidad de vida de las personas. 
                Esta es una historia de amor, necesidad y determinación, que no solo alimenta el cuerpo, sino que también nutre el alma de quienes lo descubren. 
                <br>
                <br> Nos rodeamos de alimentos en el mercado que, a la larga o incluso a corto plazo, pueden afectar negativamente nuestro organismo. 
                Estas elecciones pueden influir en nuestro estado anímico y, en algunos casos, provocar daños irreversibles. 
                Munay dulce nutrición un proyecto comprometido con la salud y el bienestar de nuestra comunidad, 
                se une a la lucha contra estas enfermedades, promoviendo un estilo de vida más saludable.
        </p>
        </div>
    </div>

    <div class="contenido-pintado">
        <div>
            <p class="texto">Ofrecemos una amplia gama de dulces y tortas modernas, elaboradas con ingredientes de alta calidad,
                cuidadosamente seleccionados: naturales, orgánicos y nutritivos. Cortezas de chocolate con un alto porcentaje de cacao, 
                una selección de frutos secos y fruta fresca selectos.
                <br>
                <br>Abordando diversas necesidades dietéticas. Desde opciones sin azúcar para aquellos que controlan su glucosa,
                hasta una selección de productos sin gluten, veganos y libres de lácteos: para celíacos, 
                veganos, alérgicos a la proteína de leche de vaca, intolerantes a la lactosa.
                <br>
                <br>Destacándonos por nuestro servicio de delivery nocturno y materia prima certificada.
        </p>
        </div>
        <img class="quienes-somos-img" src="{% static 'img/Maitte_cercotec.jpg' %}" alt="Maite con la alcalde">
    </div>

    <div class="contenido">
        <img class="feria" src="{% static 'img/feria1.jpg' %}" alt="Feria a la izq">
        <div>

            <p class="texto">
                Nuestro objetivo es brindar alternativas seguras de confianza que marquen la diferencia, 
                que cumplan con las restricciones alimenticias de nuestros clientes.
                <br>
                <br>
                Queremos contribuir marcando un antes y un después en la industria alimentaria, 
                dando pauta para un cambio significativo en los hábitos alimenticios de nuestra comunidad. 
                Buscamos inspirar a otros a unirse a la revolución de la alimentación saludable, 
                demostrando que es posible disfrutar sin comprometer la calidad nutricional.
        </p>
        </div>
        <img class="feria" src="{% static 'img/feria2.jpg' %}" alt="Feria a la der">
    </div>

{% endblock %}